<section class="footer">
  <div class="row">
    <div class="large-12 columns">
      Website by: <a href="http://www.justinbattenfield.me" target="_blank">Justin Battenfield</a>
    </div>
  </div>
</section>