<section class="banner stuff">
  <div class="row">
    <div class="large-12 columns">
      <h1>Never Forget A Workout Again.</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <h2>Ready To Start Logging?</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <%= link_to "Start Logging Now", new_user_registration_path, class:"button-home" %>
    </div>
  </div>
  
</section>
